.small-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color:#7585de;
}
.small-container:hover{
    scale: 110%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.small-container a img{
    max-width: 100%;
    width: 500px;
    height: 200px;
    object-fit: cover;
}
.small-container a{
    text-decoration: none;
    color: #2b1055;
}
#big-container {
    display: grid;
    margin: 0;
    padding: 0;
    list-style: none;
}
@media only screen and (min-width: 300px) {
    #big-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 700px) {
    #big-container {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 1400px) {
    #big-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1400px) {
    #wrapper {
        max-width: 1400px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
        background-color: #0b001f;
        padding: 2rem;
    }
}
/* @media (max-width: 768) {
    h3{
        size: 3rem;
        
    }
    a{
        text-decoration: none;
    }
    #big-container{
        display: grid;
        grid-template-columns: auto;
        
        
    }
} */

/* 

.small-container {
    background-color:#7585de;
    border-radius: 50px;
    height: 30vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: center;
}
.img-repository {
    
    border-radius: 0 0 50px 50px;
    height: 20vw;
    width: 30vw;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    
}

#big-container{
    background-color:#2b1055;
    border-radius: 50px;
    min-height: 100vh;
    padding: 5rem;
    display: grid;
    grid-template-columns: auto auto;
} */